@import url(https://db.onlinewebfonts.com/c/12e32253f0e25760bf6938c3b941ab8f?family=Tarocco+OT+W01+Bold);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Tarocco OT W01 Bold';
  background: #C79500;
  color: white;
}

.main-card {
  width: 400px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #00C724;

  border: 10px solid #0025C7;
  border-radius: 5%;
}

.card-img {
  height: 50%;
  overflow: hidden;
  border-radius: 5%;
  border-color: red;
  
}

.card-img img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.card-data {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-data h1 {
  margin-top: 20px;
}

.card-data h2 {
  margin-top: 5px;
}

.card-data p {
  font-size: 16px;
}

.shortbio {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.location {
  margin-top: 20px;
  font-size: 20px !important;
}

.card-data .email {
  /* font-size: 20px !important; */
  font-size: 20px;
}

.sm-link i{
font-size: 50px;
}